GFC_PLATFORM=immortalwrt
GFC_ROOT=/usr/lib/gfc-client
GFC_ETC=/etc/gfc-client
GFC_LIB=/etc/gfc-client/lib
GFC_LOG_DIR=/var/log/gfc-client
GFC_WEB_MODE=api
GFC_CLIENT_WEB_PORT=8080
GFC_PROXY_MODE=gateway
GFC_ROUTING_SCHEME=kernel-split
GFC_ENABLE_OUTPUT_POLICY=1
GFC_POLICY_MARK=0x2023
GFC_POLICY_TABLE=2022
GFC_WAN_IFACE=eth0
GFC_TUN_INTERFACE=gfctun
GFC_REDIRECT_PORT=11800
GFC_EXT_CONST_IPS=8.8.4.4,8.8.8.8,1.1.1.1,1.0.0.1
GFC_SSH_PORT=212
GFC_MOSDNS_USER=mosdns
GFC_MOSDNS_UID=65353
GFC_SINGBOX_USER=singbox
GFC_SINGBOX_UID=65354
